/* imports */

@font-face {
    font-family: "BebasNeue-Regular";
    src: url(../ASSETS/BebasNeue-Regular.ttf);
}

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classes Genéricas */

.layout-grid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #080324;
}


/* header */

header {
    height: 60px;
    background-color: #F9003D;

}

header .header-flex {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

header nav a {
    font-family: "BebasNeue-Regular";
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 10px black;
    padding: 15px 20px;
    border-radius: 5px;

}

header nav a:hover {
    text-shadow: 2px 10px 2px rgba(249, 0, 61, 0.3);
    background-color: white;
    color: #F9003D;

}

/* main */
main .banner {
    height: 740px;
    background-image: url(../ASSETS/assets_/imagem-fundo-banner.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}


main .banner-flex {
    display: flex;
    align-items: center;
    height: 100%;
    border: 3px white;
}

main .banner-flex #banner-info {
    width: 560px;
}

main .banner-flex h1 {
    margin-bottom: 40px;
    font-family: "BebasNeue-Regular";
    font-size: 96px;
    color: white;
}

main .banner-flex p {
    margin-bottom: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 53px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F9003D;

}

main .sobre h2 {
    font-family: "BebasNeue-Regular";
    font-size: 64px;
    color: #F9003D;

}

main .sobre .linha {
    display: flex;
    justify-content: space-between;
}

main .sobre .linha img {
    width: 490px;
}

main .sobre .linha .participantes {
    width: 590px;
    border: 2px solid yellow;
}

/* smartphones.= 0 ate 767px */
@media screen and (max-width: 767px) {

    /* temporariamente off */

}

header #menu-mobile {
    display: block;
}
.mostrarMenu {
    left: 0;
    opacity: 1;
}

header nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    width: 80vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F9003D;
    border: #F9003D;
    opacity: 0;
    transition: left 0.4s, opacity 0.5s;
}

